.photos {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  margin-top: 42px;
}

.photos img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.life {
  color: #FFF;
  font-size: 22px;
  text-align: center;
}

.line {
  height: 1px;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  margin-left: 15%;
  margin-right: 15%;
}

.myname {
  color: #FFF;
  font-size: 18px;
  text-align: center;
  line-height: 35px;
}

#lee {
  margin-top: 75px;
}


.title {
  color: #FFF;
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.middle {
  text-align: center;
  font-size: 18px;
  color: #FFF;
}

.middle p {
  margin-top: 20px;
  margin-bottom: 0px;
}

.me {
  display: inline-block;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  padding: 23px;
}

.icon {
  width: 45px;
  height: 45px;
}

.introduce {
  text-align: center;
  font-size: 18px;
  color: #FFF;
  line-height: 30px;
  padding-top: 120px;
}


/*第五屏*/
.sample {
  /*background-color: #fff;*/
  /*border: 1px solid red;*/
  padding: 15px;
}

.supplement {
  background-color: #fff;
  /*border: 1px solid blue;*/
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  padding: 15px;
}

.works {
  color: #4985A0;
}

.sample p {
  font-size: 16px;
  margin-top: 16px;
}

.sample .linkbar {
  margin: 20px 0px 5px 0px;
}

.sample a {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 6px 90px;
  margin: 20px 0px;
}

.sample a:hover {
  background: #E6E6E6;
  transition: all .3s ease;
}

.sample img {
  height: 18px;
}




/*第六屏*/
.colour {
  font-size: 22px;
  text-align: center;
}

.colour span {
  padding-left: 15px;
  padding-right: 15px;
}

.colour span:nth-child(1) {
  color: red;
}

.colour span:nth-child(2) {
  color: #3cf;
}

.colour span:nth-child(3) {
  color: #6c0;
}

.colour span:nth-child(4) {
  color: #f63;
}

.fresh {
  font-size: 18px;
  color: #FFF;
  text-align: center;
  line-height: 35px;
  margin-top: 80px;
}
