/*第一屏*/
.photos {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  margin-top: 42px;
}

.photos img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.life {
  color: #FFF;
  font-size: 22px;
  text-align: center;
}

.line {
  height: 1px;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  margin-left: 15%;
  margin-right: 15%;
}

.myname {
  color: #FFF;
  font-size: 18px;
  text-align: center;
  line-height: 35px;
}

#lee {
  margin-top: 75px;
}


/*第二屏*/
.title {
  color: #FFF;
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.middle {
  text-align: center;
  font-size: 18px;
  color: #FFF;
}

.middle p {
  margin-top: 20px;
  margin-bottom: 0px;
}

.me {
  display: inline-block;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  padding: 23px;
}

.icon {
  width: 45px;
  height: 45px;
}

.introduce {
  text-align: center;
  font-size: 18px;
  color: #FFF;
  line-height: 30px;
  padding-top: 120px;
}


/*第三屏*/
#skill {
  margin-bottom: 80px;
  margin-top: -120px;
}

.skillCircle {
  padding: 5px;
  position: relative;
  font-size: 12px;
  width: 300px;
  color: #FFF;
}

ul {
  list-style: none;
  padding: 0;
}

.outCircle {
  box-sizing: content-box;
  width: 242px;
  height: 242px;
  border: 4px dashed #999;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.out {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 50px;
}

.outCircle :nth-child(1) {
  background-color: rgba(121,100,102,0.8);
  animation: outX 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate,
             outY 8s cubic-bezier(.36,0,.64,1) 0s infinite alternate;
}

.outCircle :nth-child(2) {
  background-color: rgba(49,65,82,0.8);
  animation: outX 8s cubic-bezier(.36,0,.64,1) -6s infinite alternate,
             outY 8s cubic-bezier(.36,0,.64,1) -2s infinite alternate;
}

.outCircle :nth-child(3) {
  background-color: rgba(76,157,160,0.8);
  animation: outX 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate,
             outY 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate;
}

.outCircle :nth-child(4) {
  background-color: rgba(66,66,66,0.8);
  animation: outX 8s cubic-bezier(.36,0,.64,1) -10s infinite alternate,
             outY 8s cubic-bezier(.36,0,.64,1) -6s infinite alternate;
}

.outCircle :nth-child(5) {
  background-color: rgba(193,131,106,0.8);
  animation: outX 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate,
             outY 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate;
}

.outCircle :nth-child(6) {
  background-color: rgba(117,148,179,0.8);
  animation: outX 8s cubic-bezier(.36,0,.64,1) -14s infinite alternate,
             outY 8s cubic-bezier(.36,0,.64,1) -10s infinite alternate;
}

.outCircle :nth-child(7) {
  background-color: rgba(71,83,94,0.8);
  animation: outX 8s cubic-bezier(.36,0,.64,1) -16s infinite alternate,
             outY 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate;
}

.outCircle :nth-child(8) {
  background-color: rgba(147,147,189,0.8);
  animation: outX 8s cubic-bezier(.36,0,.64,1) -18s infinite alternate,
             outY 8s cubic-bezier(.36,0,.64,1) -14s infinite alternate;
}

@keyframes outX {
  0% {
    left: -27px;
  }

  100% {
    left: 217px;
  }
}

@keyframes outY {
  0% {
    top: -27px;
  }

  100% {
    top: 217px;
  }
}

.innerCircle {
  box-sizing: content-box;
  width: 142px;
  height: 142px;
  border: 4px dashed #999;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 40px;
}

.innerCircle :nth-child(1) {
  background-color: rgba(179,164,140,0.8);
  animation: innerX 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate,
             innerY 8s cubic-bezier(.36,0,.64,1) 0s infinite alternate;
}

.innerCircle :nth-child(2) {
  background-color: rgba(171,209,220,0.8);
  animation: innerX 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate,
             innerY 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate;
}

.innerCircle :nth-child(3) {
  background-color: rgba(238,215,163,0.8);
  animation: innerX 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate,
             innerY 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate;
}

.innerCircle :nth-child(4) {
  background-color: rgba(207,184,178,0.8);
  animation: innerX 8s cubic-bezier(.36,0,.64,1) -16s infinite alternate,
             innerY 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate;
}

@keyframes innerX {
  0% {
    left: -22px;
  }

  100% {
    left: 122px;
  }
}

@keyframes innerY {
  0% {
    top: 122px;
  }

  100% {
    top: -22px;
  }
}

.skillStack {
  font-size: 18px;
  color: #FFF;
  line-height: 34px;
  margin-top: 50px;
}


/*第四屏*/
.row .sample {
  padding: 15px 30px;
}

.supplement {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  padding: 15px;
}

.works {
  color: #4985A0;
}

.sample p {
  font-size: 16px;
  margin-top: 16px;
}

.sample .linkbar {
  margin: 20px 0px 5px 0px;
}

.sample a {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 6px 90px;
  margin: 20px 0px;
}

.sample a:hover {
  background: #E6E6E6;
  transition: all .3s ease;
}

.sample img {
  height: 18px;
}


/*第五屏*/
.colour {
  font-size: 22px;
  text-align: center;
}

.colour span {
  padding-left: 15px;
  padding-right: 15px;
}

.colour span:nth-child(1) {
  color: red;
}

.colour span:nth-child(2) {
  color: #3cf;
}

.colour span:nth-child(3) {
  color: #6c0;
}

.colour span:nth-child(4) {
  color: #f63;
}

.fresh {
  font-size: 18px;
  color: #FFF;
  text-align: center;
  line-height: 35px;
  margin-top: 80px;
}



/*响应式*/
@media print, screen and (max-width: 991px) {
  .middle {
    margin-bottom: 60px;
  }

  .introduce {
    padding-top: 0px;
  }
}

@media print, screen and (max-width: 767px) {
  .life {
    margin-left: 5%;
    margin-right: 5%;
  }

  #aboutMe {
    margin-bottom: 30px;
  }

  .middle {
    margin-bottom: 20px;
  }

  .introduce {
    padding-top: 10px;
  }

  #skill {
    margin-top: 0px;
  }

  .skillStack {
    text-align: center;
    margin-top: 80px;
  }
}

@media print, screen and (max-width: 600px) {
/*第一屏*/
  .life {
    font-size: 16px;
  }

  .myname {
    font-size: 14px;
  }

  #lee {
    margin-top: 60px;
  }

/*第二屏*/
  .title {
    font-size: 20px;
  }

  .icon {
    width: 22.5px;
    height: 22.5px;
  }

  .me {
    padding: 11.5px;
  }

  .middle {
    font-size: 12px;
  }

  .introduce {
    font-size: 14px;
  }

  #aboutMe {
    margin-bottom: 60px;
    padding-top: 60px;
  }

/*第三屏*/
  .skillStack {
    font-size: 14px;
  }

  #skill {
    margin-bottom: 60px;
    padding-top: 60px;
  }

/*第四屏*/
  .works {
    font-size: 16px;
  }
  .sample p {
    font-size: 12px;
  }

  .supplement {
    padding-left: 7.5px;
  }

  .row .sample {
    padding: 15px 30px;
  }

  #reels {
    margin-bottom: 45px;
    padding-top: 60px;
  }

/*第五屏*/
  .colour {
    font-size: 18px;
  }

  .fresh {
    font-size: 15px;
  }
}
